<div class="p-4">
  <h4> Welcome to the DataWorks experimental prototype </h4>
  <div>
    This prototype currently uses fixture data from various sources:
    SDR, Redivis, DataCite, Data.gov, and Dryad.

    Additional sources include data.stanford.edu, Globus, and SearchWorks. 
  </div>
</div>