<div class="mt-5">
  <div class="border-start ps-lg-3 px-3 mb-5">
    <%= render(Dwexp::RightsComponent.new(@document['rights_list_struct_ss'])) %> 
    Contact information
    Related works
    Also available at
  </div>
</div>