<tr>
  <th scope="row">
    <%= render_name %>
  </th>
  <td>
    <%= render_collaborators_link %>
  </td>
  <td>
    <table>
      <% Array(@contributor['affiliation']).each do |affiliation| %>
        <tr>
          <td><%= render_affiliation(affiliation) %></td>
        </tr>
      <% end %>
    </table>
  </td>
</tr>
