<div class="d-flex justify-content-start align-items-center gap-2 mb-2">
  <% if document.stanford_authored? %>
    <span class="badge text-bg-cardinal text-uppercase fw-semibold">Stanford Authored</span>
  <% end %>
</div>
