<div class="d-flex justify-content-center align-items-center mb-3">
  <a class="btn btn-outline-primary btn-stanford-cardinal text-decoration-none my-3 p-3 <%= 'active' if presenter.selected? %>" href="<%= presenter.href %>">
    <input type="checkbox" class="me-2" style="pointer-events: none;" aria-hidden="true" <%= 'checked' if presenter.selected? %> />
    <%= @facet_field.label %>
  </a>
</div>
