<span class="badge access-badge text-uppercase fw-semibold d-inline-flex align-items-center gap-1 me-1 <%= document.access.downcase %>">
  <%= render icon_component %>
  <%= access_message %>
</span>
