<div id="appliedParams" class="clearfix constraints-container">
  <%= link_back_to_catalog label: safe_join([render(Icons::BackwardFillComponent.new), t('blacklight.search.show.back_to_search')], ' '),
                           class: 'back-to-search-link d-inline-flex align-items-center gap-1' %>
</div>
