<div class="document-metadata">
  <%= render Show::AboutDatasetComponent.new(document: document) %>
  <%= render Show::ContentSummaryComponent.new(document: document) %>
  <%= render Show::SubjectsComponent.new(document: document) %>
  <%= render Show::ConfiguredFieldsComponent.new(presenter: presenter) %>
</div>
