<div class="<%= header_container_classes %>">
  <div class="d-flex flex-wrap align-items-center gap-3 justify-content-center justify-content-lg-start">
    <%= render applied_params_component %>
    <%= render pagination_component %>
  </div>
  <%= render_header_tools %>
</div>
