<div>
  <h2><%= t('.heading') %></h2>
  <h3><%= t('.subheading') %></h3>
  <ul class="list-unstyled mb-0">
    <% rights_entries.each do |fragments| %>
      <li><%= safe_join(fragments.map { |text, href| href ? link_to(text, href, target: '_blank') : text }, tag.br) %></li>
    <% end %>
  </ul>
</div>
