:root {
  --bs-dark-rgb: var(--stanford-sky-dark-rgb);
  --bs-dark: var(--stanford-sky-dark);
  --bs-border-color: var(--stanford-20-black);
  --bs-light-bg-subtle: var(--stanford-10-black);
}

/* Feedback form modal */
.modal:has(.feedback-form) {
  --bs-modal-header-border-width: 0;

  .modal-footer {
    padding: 1rem;
  }

  .modal-header {
    align-items: center;

    .blacklight-modal-close {
      margin: 0;
    }
  }

  .col-form-label.required::after {
    content: "* Required";
    color: var(--stanford-cardinal);
    margin-left: 5px;
    font-weight: normal;
    font-size: 0.9rem;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

/* Rich text display styles */
.rich-text + .rich-text {
  margin-top: 1rem;
}

.rich-text table {
  display: block;
  overflow-x: scroll;
  border: inset 1px var(--stanford-20-black);
}

.rich-text th,
.rich-text td {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--stanford-20-black);
}

.rich-text tr {
  vertical-align: top;
}

/* Mail icon */
.mail {
  color: var(--stanford-digital-blue);
}

/* Move the modal close button to the top right corner */
#blacklight-modal .blacklight-modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* Heading sizes */
h1,
h2,
h3,
h4,
h5 {
  font-size: var(--sul-header-font-size);
  line-height: 1.15;
  font-weight: 600;
}

h1 { --sul-header-font-size: 1.75rem; }
h2 { --sul-header-font-size: 1.25rem; }
h3 { --sul-header-font-size: 1.0rem; }
h4 { --sul-header-font-size: 1.0rem; }
h5 { --sul-header-font-size: 1.0rem; }

/* Compact button */
.search-widgets .btn,
.clear-bookmarks,
.btn-compact {
  --bs-btn-font-size: 0.875rem;
  --bs-border-radius: 4px;
  --bs-btn-padding-x: 6px;
  --bs-btn-padding-y: 2px;
  --bs-btn-line-height: 1.5;
  align-self: center;
}

/* Toast notifications (e.g. "Link copied to clipboard") */
.toast {
  --bs-toast-bg: var(--stanford-90-black);
  --bs-toast-color: white;
  --bs-toast-padding-x: 1rem;
  --bs-toast-padding-y: 1rem;
  --bs-toast-border-radius: 0rem;
  --bs-toast-border-color: transparent;

  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);

  &.show {
    transform: translateX(0);
  }

  &.showing {
    opacity: 1;
    transform: translateX(calc(100% + 30px));
  }
}
