:root {
  /* Bootstrap theme overrides */
  --bs-primary: #8c1515;
  --bs-primary-rgb: 140, 21, 21;
  --bs-danger: #b1040e;
  --bs-danger-rgb: 177, 4, 14;
  --bs-info: #006cb8;
  --bs-info-rgb: 0, 108, 184;
  --bs-secondary: #014240;
  --bs-secondary-rgb: 1, 66, 64;
  --bs-dark: #016895;
  --bs-dark-rgb: 1, 104, 149;
  --bs-border-radius: 0;
  --bs-border-radius-sm: 0;
  --bs-border-radius-lg: 0;
  --bs-border-radius-xl: 0;
  --bs-border-radius-xxl: 0;
  --bs-border-radius-pill: 50rem;
  --bs-body-font-family: "Source Sans 3", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

  /* Stanford colors */
  --stanford-cardinal: #8c1515;
  --stanford-black: #2e2d29;
  --stanford-white: #ffffff;
  --stanford-digital-blue: #006cb8;
  --stanford-digital-blue-dark: #00548f;
  --stanford-digital-red: #b1040e;
  --stanford-illuminating: #fedd5c;
  --stanford-palo-alto-light: #2d716f;
  --stanford-palo-alto-dark: #014240;
  --stanford-fog: #dad7cb;
  --grey-lighter: #ededed;

  --sul-link-color-rgb: 0, 108, 184; /* Digital blue #006CB8 */
  --sul-link-font-weight: 450;

  --bs-link-color: #006cb8;
  --bs-link-hover-color: #006cb8;
  --bs-link-color-rgb: var(--sul-link-color-rgb);
  --bs-link-hover-color-rgb: var(--sul-link-color-rgb);
  --bs-link-decoration: none;
  --bs-link-hover-decoration: underline;
  --bs-body-font-size: 1rem;
}

.dl-invert dt {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  color: black;
  padding-left: 1.5rem !important;
}

.dl-invert {
  margin-bottom: 2px;
  padding-bottom: 1px;
}

.documentHeader {
  padding-bottom: 1rem;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 2rem;
}

.provider-metadata {
  padding-top: 1rem;
  margin-top: 2rem;
  border-top: 1px solid #d1d1d1;
}

.browseitem {
  margin-right: 10px;
  margin-bottom: 10px;
}

.pagesection {
  margin-bottom: 10px;
}

.queryresult {
  background-color: #f7fafb;
  border: 1px solid #016895;
  padding: 15px;
  margin-right: 15px;
}

.queryresult a {
  text-decoration: none;
}

.highlight {
  background-color: #f7fafb;
  border: 1px solid #016895;
}

/* Rich text display styles */
.rich-text + .rich-text {
  margin-top: 1rem;
}

.rich-text table {
  display: block;
  overflow-x: scroll;
  border: inset 1px #d1d1d1;
}

.rich-text th,
.rich-text td {
  padding: 0.25rem 0.5rem;
  border: 1px solid #d1d1d1;
}

.rich-text tr {
  vertical-align: top;
}

/* ORCID and ROR icons */
.orcid-icon,
.ror-icon {
  width: 1rem;
  height: 1rem;
  vertical-align: sub;
}

/* Hide the "true" value and ">" when the Stanford authored facet is selected */
.constraint.filter.filter-stanford_contributor_bsi .filter-value,
.constraint.filter.filter-stanford_contributor_bsi .filter-name::after {
  display: none;
}

/* Cardinal red button (stanford datasets facet) */
.btn-stanford-cardinal {
  --bs-btn-hover-border-color: var(--stanford-cardinal);
  --bs-btn-border-color: var(--stanford-cardinal);
  --bs-btn-hover-bg: var(--stanford-cardinal);
  --bs-btn-color: var(--stanford-cardinal);

  &:hover {
    --bs-btn-hover-color: #fff;
  }

  &.active {
    --bs-btn-active-border-color: var(--stanford-cardinal);
    --bs-btn-border-color: var(--stanford-cardinal);
    --bs-btn-active-bg: var(--stanford-cardinal);
    --bs-btn-active-color: #fff;
  }
}

/* Cardinal red badges */
.badge.text-bg-cardinal {
  --bs-badge-color: #fff;
  --bs-badge-font-size: 0.75rem;
  background-color: var(--stanford-cardinal);
}

/* Mail icon */
.mail {
  color: var(--stanford-digital-blue);
}

/* Person icon */
.profile {
  color: var(--stanford-cardinal);
}

/* Move the modal close button to the top right corner */
#blacklight-modal .blacklight-modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* Heading sizes */
h1,
h2,
h3,
h4,
h5 {
  font-size: var(--sul-header-font-size);
  line-height: 1.15;
  font-weight: 600;
}

h1 { --sul-header-font-size: 1.75rem; }
h2 { --sul-header-font-size: 1.25rem; }
h3 { --sul-header-font-size: 1.0rem; }
h4 { --sul-header-font-size: 1.0rem; }
h5 { --sul-header-font-size: 1.0rem; }

.documents-list .document h3.document-title-heading {
  --sul-header-font-size: 1.25rem;
}
