.browseitem {
  margin-right: 10px;
  margin-bottom: 10px;
}

.queryresult {
  background-color: var(--stanford-fog-light);
  border: 1px solid var(--stanford-sky-dark);
  padding: 15px;
  margin-right: 15px;
}

.queryresult a {
  text-decoration: none;
}

.highlight {
  background-color: var(--stanford-fog-light);
  border: 1px solid var(--stanford-sky-dark);
}
