/* Navbar */
.navbar-logo {
  background-size: auto;
}

/* Search bar */
search {
  width: 100%;
  max-width: 700px;
}

.search-query-form .search-field {
  width: auto;
  flex: 0 1 auto;
}

.search-card .input-group > .search-autocomplete-wrapper .search-q {
  border-left: none;

  @media (width >= 576px) {
    border-left: var(--bs-border-width) solid var(--bs-border-color);
  }
}

/* Beta badge in the masthead */
.badge-cardinal {
  --bs-badge-bg: var(--stanford-cardinal);
  --bs-badge-color: #fff;
  background-color: var(--bs-badge-bg);
  color: var(--bs-badge-color);
}
