<h4 class="visually-hidden"><%= t('.heading') %></h4>
<ul class="document-subjects list-unstyled d-flex flex-wrap column-gap-2 row-gap-1 mb-3" data-controller="expand-items">
  <% subjects.each do |subject| %>
    <li data-expand-items-target="item">
      <%= render Badges::SubjectPillComponent.new(subject:, path: subject_facet_path(subject),
                                                  selected: subject_selected?(subject)) %>
    </li>
  <% end %>
</ul>
