<h4 class="visually-hidden"><%= t('.heading') %></h4>
<div data-controller="expand-text" class="document-description mb-3">
  <div data-expand-text-target="content" class="expand-text--collapsed">
    <%= description %>
  </div>
  <button data-expand-text-target="toggle" data-action="expand-text#toggle" class="btn btn-link p-0 document-description__toggle"></button>
</div>
