<ul class="document-subjects list-unstyled d-flex flex-wrap gap-1 mb-2" data-controller="expand-items">
  <% subjects.each do |subject| %>
    <li><span class="badge rounded-pill document-subjects__pill"><%= subject %></span></li>
  <% end %>
</ul>
